*{
  margin: 0;
}
body{
    background: linear-gradient(90deg, rgb(100, 0, 100), rgb(40, 0, 60));
}
h1{
    position: relative;
    top: 90px;
    text-align: center;
    font-size: 7em;
    margin: 20px;
    color: white;
}
address
{
    text-align: center;
    margin: 10px 0 80px 0;;
    color: white;
}

#quality{
  width: 15%;
  min-width: 150px;
  position: absolute;
  top: 560px;
  left: 40px;
}

h2{
    position:relative;
    top: 270px;
    text-align: center;
    margin: 30px;
    font-size: 4em;
    color: yellow;
    

}
#video{
  position:relative;
  top: 240px;
  
  border-radius: 10px;
  width: 75%;
  min-height: 400px;
  max-height: 75%;
  display: block;
  margin: 40px auto;
}
.options{
  display: flex;
  position: relative;
  flex-direction: row;
  top: 30px;
  
  justify-content: space-between;
  width: 75%;
  max-width: 800px;
  margin: 0 auto;
  
}
.options a{
  color: white;
  font-size: 1.25em;
}
a:hover{
  color: yellow;
 
}
.options a:hover{
  font-size: 1.5em;
}

#landing-form{
    position: relative;
    top: 250px;
    color: white;
    font-size: large;
    margin: 5px auto;
}
.email-label{
display:block;
    margin: 5px auto;
    text-align: center;
    position: relative;
    top: 10px;
}
.landing-page-input{
    display:block;
    margin: 5px auto;
    position: relative;
    top: 20px;
}
#submit{
  padding: 5px;
  margin: 5px auto;
  height: 100%;

}

.nav-link{
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  top: 30px;
  color: white;
  font-size: 1.5rem;
  width: 15%; 
  max-width: 100px;
  min-height: 40px;
  max-height: 30vh;
  text-align: center;
  margin: 15px;
}
.nav-link:hover{
  font-size: 1.75rem
}
#nav-bar{
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  z-index: 999;
  width:100%;  
  min-height: 10vh;
  max-height: 90px;
  background-color: rgb(66, 0, 77);
  box-shadow: 5px 5px 5px black;
  top: 0;
  
}

#header-img{
  display: block;
  margin: auto;
  position: fixed;
  z-index: 999;
  height: 30px;
  top: 5px;

}
#cart{
    height: 50px;
    width: 50px;
    position:relative;
    bottom: 30px;
    left: 110px;
    background-color: white;
    border-radius: 50%;
}

.buy-btn{
    height: 40px;
    width: 15%;
    min-width: 150px;
    position:relative;
    top: 80px;
    
}
.discount{
  position: relative;
  top: 75px;
  left: 50px;
  
  
}
.deal1 p{
  position: relative;
  top: 75px;
  color: yellow;
}

.deals{
  width: 60%;
  height: 40%;
  max-width: 400px;
  border: 1px solid black;
  position: relative;
  top: 100px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  margin: 30px 15px;
  
}

.deal-container{
  display:flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.deal1{
  width:100%;
  
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 180px;
  
}

 
  

.sales{
  position: relative;
  text-align: center;
  top: 310px;

  font-size: 25px;
  background-color:purple;
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px;
  Color: yellow;
  box-shadow: 5px 5px 15px 5px;
  
}
.sales a{
  color: white;
}
/*contact page */

.contact-container{
  display: flex;
  gap: 40px;
  position: relative;
  left: 50px;
  top:130px;
  width: 75%;
 justify-content: space-evenly;
  
  
}
#map{
  width: 25vw;
  min-width: 300px;
  height: 100%;
  min-height: 300px;
  border: 2px solid gray;
}
#contact-us{
  position: relative;
  top: 90px;
  margin: 20px;
}
#contact-form{
 max-width: 500px;
 width: 80%;
 margin: 0 auto;
}
#contact-name{
  display: block;
 width: 100%;
 min-width: 120px;
 min-height: 25px;
 margin: 15px 0;
}
.contact-label{
color: white;
}
#contact-email{
  display: block;
  width: 100%;
  min-width: 120px;
  min-height: 25px;
  margin: 15px 0;
  
}
#comments{
  display: block;
  width: 100%;
  height: 25%;
  min-height: 200px;
  margin: 15px 0;
}
#contact-submit{
  height: 50px;
  width: 150px;
  position: absolute;
  top: 300px;
  right: -160px;
}
#address{
  position: absolute;
  top: 320px;
  left: 0;
}
#phone-number{
  position: absolute;
  right: -150px;
  font-size: 1.5rem;
  color: white;
  font-style: italic;
}
#hours{
  color: white;
  position: absolute;
  right: -100px;
  top: 80px;
}
@media only screen and (max-width: 600px){
  .sales{
    width: 50%;
    top: 310px;
  }
  #cart{
    left: -15px;
  }
  .nav-link{
    font-size: 1.25em;
    
  }
}
